body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-caveat: Caveat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-black: #000;
}

