<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Salads</title>
</head>
<body>
<div th:switch="${breakfastsList}">
  <h2 th:case="null">Not found</h2>
  <div th:case="*">
    <div th:each="breakfast : ${breakfastsList}">
      <div>
        <p th:text="${breakfast.title + ', ' + breakfast.price}" style="margin: 5px 0;"/>
        <ul th:each="menuItemBreakfast : ${breakfast.menuItemBreakfastList}">
          <li th:text="${menuItemBreakfast.menu_item.title + ', ' + menuItemBreakfast.menu_item.price}"></li>
        </ul>
      </div>
    </div><br>
  </div>
</div>
</body>
</html>