<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>HYNEA | Напитки</title>
</head>
<body>
<div th:switch="${drinksList}">
  <h2 th:case="null">Not found</h2>
  <div th:case="*">
    <div th:each="drink : ${drinksList}">
      <div>
        <img th:src="@{${'/img/' + drink.menu_item.image_name}}" height="200" width="300"/>
        <p th:text="${drink.menu_item.title}" style="margin: 5px 0;"/>
        <p th:text="${drink.menu_item.price}" style="margin: 5px 0;"/>
      </div>
    </div><br>
  </div>
</div>
</body>
</html>