<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="/static/main.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>HYNEA</title>
</head>
<body>
  <header>
    <img src="/static/img/hynea-logo.png" />
    <h1>Ресторан HYNEA</h1>
    <nav>
      <a href="#">Завтраки</a>
      <a href="#">Салаты</a>
      <a href="#">Напитки</a>
    </nav>
  </header>

  <main>
    <div th:switch="${menuItems}">
      <div th:case="null"><p>Sorry, no connection to database</p></div>
      <div th:case="*">
        <div class="grid">
          <a href="#" class="card" th:each="menuItem : ${menuItems}">
            <img th:src="@{${'/img/' + menuItem.imageName}}">
            <h3 th:text="${menuItem.title}"></h3>
            <p th:text="${menuItem.price} + ' ₽'"></p>
          </a>
        </div>
      </div>
    </div>
  </main>

</body>
</html>