<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu update</title>
</head>
<body> <!-- title, serve_time, weight, price !-->
    <div th:switch="${menuItems}">
        <h2 th:case="null">Not found</h2>
        <div th:case="*" >
            <div th:each="menuItem: ${menuItems}">
                <p th:text="${menuItem.title} + ', ' + ${menuItem.serve_time} + ' мин, ' + ${menuItem.weight} + ' грамм, ' +
              ${menuItem.price} + ' руб'" style="margin: 5px 0;"></p>
            </div>
        </div>
    </div>

  <form action="#" th:action="@{/menu-update}" th:object="${newMenuItem}" method="post" enctype="multipart/form-data">
      <label for="title">Название:</label> <br>
      <input id="title" type="text" th:field="*{title}" placeholder="Название"><br>

      <label for="serve-time">Время сервировки:</label> <br>
      <input id="serve-time" type="text" th:field="*{serve_time}" placeholder="Время сервировки"><br>

      <label for="weight">Вес:</label> <br>
      <input id="weight" type="text" th:field="*{weight}" placeholder="Вес"><br>

      <label for="price">Цена:</label> <br>
      <input id="price" type="text" th:field="*{price}" placeholder="Цена"> <br>

      <label for="menuItemImgId">Загрузить картинку:</label> <br>
      <input id="menuItemImgId" type="file" name="image"> <br>

      <input type="submit" value="Добавить блюдо">
  </form>

  <p th:text="${error}" th:if="${error}"></p>
  <p th:text="${message}" th:if="${message}"></p>

</body>
</html>