<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>HYNEA</title>
</head>
<body>
  <div>
    <a href="/breakfasts">Завтраки</a>
    <a href="/salads">Салаты</a>
    <a href="/drinks">Напитки</a>
  </div>
  <div th:switch="${menuItems}">
    <h2 th:case="null">Not found</h2>

    <div th:case="*" >
      <div th:each="menuItem: ${menuItems}">
        <img th:src="@{${'/img/' + menuItem.imageName}}" height="200" width="300"/>
        <p th:text="${menuItem.title} + ', ' + ${menuItem.serveTime} + ' мин, ' + ${menuItem.weight} + ' грамм, ' +
            ${menuItem.price} + ' руб'" style="margin: 5px 0;"></p>
        <p th:text="${menuItem.ingredients}" style="white-space: pre-wrap; margin: 5px 0;"></p>
      </div>
    </div>
  </div>
</body>
</html>