<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${items}">
    <h2 th:case="null">Not found</h2>
    <div th:case="*">
        <div th:each="item : ${items}">
            <p th:text="${item.title}" style="margin: 5px 0;"/>
            <ul th:each="ingred : ${item.ingredientsList}">
                <li th:text="${ingred.ingredient.title}"></li>
            </ul>
        </div><br>
    </div>
</div>
</body>
</html>